<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963294412094-js1ab150afbqrk6mlou68covuvb80mpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963294412094-js1ab150afbqrk6mlou68covuvb80mpo</string>
	<key>API_KEY</key>
	<string>AIzaSyANPscK7KrOWwDPYV-_E-0RZ082aYj92oc</string>
	<key>GCM_SENDER_ID</key>
	<string>963294412094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogden.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-6add5</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-6add5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963294412094:ios:cb15d469a210362b8b406f</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-6add5.firebaseio.com</string>
</dict>
</plist>